In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv('HousingData.csv')

Q1) Print the first ten data tuples

In [ ]:
data.head(10)

Q2) Find the shape of datsets

Q3) Find the coloums of the datsets

Q4) Convert the columns into array

In [ ]:
headers= np.array(data.columns)

Q5) Find the information of ALL THE houses whose tax is below 250

Q6) Print the row no. 3,4,8,6 and colowns namely NOX, RM, B

Q7) Drop the column ZN from the database

Q8) Print the dataset information