In [1]:
import os
import pandas as pd

In [2]:
data = pd.read_csv('dm.csv')

In [3]:
data.columns

Index(['Age', 'Gender', 'OwnHome', 'Married', 'Location', 'Salary', 'Children',
       'History', 'Catalogs', 'AmountSpent', 'Cust_Id'],
      dtype='object')

In [4]:
data.head()

,Age,Gender,OwnHome,Married,Location,Salary,Children,History,Catalogs,AmountSpent,Cust_Id
0,Old,Female,Own,Single,Far,47500,0,High,6,755,247
1,Middle,Male,Rent,Single,Close,63600,0,High,6,1318,127
2,Young,Female,Rent,Single,Close,13500,0,Low,18,296,479
3,Middle,Male,Own,Married,Close,85600,1,High,18,2436,475
4,Middle,Female,Own,Single,Close,68400,0,High,12,1304,151

In [5]:
X=data.drop(['Cust_Id','AmountSpent'],axis=1)

In [6]:
X.head()

,Age,Gender,OwnHome,Married,Location,Salary,Children,History,Catalogs
0,Old,Female,Own,Single,Far,47500,0,High,6
1,Middle,Male,Rent,Single,Close,63600,0,High,6
2,Young,Female,Rent,Single,Close,13500,0,Low,18
3,Middle,Male,Own,Married,Close,85600,1,High,18
4,Middle,Female,Own,Single,Close,68400,0,High,12

In [7]:
X=pd.get_dummies(X)

In [8]:
X.head()

,Salary,Children,Catalogs,Age_Middle,Age_Old,Age_Young,Gender_Female,Gender_Male,OwnHome_Own,OwnHome_Rent,Married_Married,Married_Single,Location_Close,Location_Far,History_High,History_Low,History_Medium
0,47500,0,6,0,1,0,1,0,1,0,0,1,0,1,1,0,0
1,63600,0,6,1,0,0,0,1,0,1,0,1,1,0,1,0,0
2,13500,0,18,0,0,1,1,0,0,1,0,1,1,0,0,1,0
3,85600,1,18,1,0,0,0,1,1,0,1,0,1,0,1,0,0
4,68400,0,12,1,0,0,1,0,1,0,0,1,1,0,1,0,0

In [9]:
y=data['AmountSpent']

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=200)

In [11]:
from sklearn.tree import DecisionTreeRegressor
reg=DecisionTreeRegressor(max_depth=6)
reg.fit(X_train,y_train)

DecisionTreeRegressor(max_depth=6)

In [12]:
pd.Series(reg.feature_importances_,index=X.columns).sort_values(ascending=False).head(5)

Salary            0.593721
Catalogs          0.172602
History_Medium    0.073441
History_Low       0.055231
History_High      0.027984
dtype: float64

In [13]:
y_pred = reg.predict(X_test)

In [14]:
y_pred

array([1007.3       , 2226.25      ,  955.61016949, 1171.51219512,
       2866.36666667,  391.83333333,  590.28571429,  327.42857143,
       1396.86206897,  702.23809524, 2226.25      ,  607.57142857,
        391.83333333,  610.5       ,  199.5       , 3269.25      ,
        607.57142857,  955.61016949,  399.8       ,  310.92592593,
        784.375     , 1007.3       , 2079.5       , 2354.2       ,
        391.83333333, 1171.51219512,  955.61016949, 1171.51219512,
        349.82857143, 1174.76744186,  213.5       ,  472.        ,
       1583.54166667, 1745.90196078,  478.        , 2866.36666667,
       2073.47058824, 1171.51219512, 2354.2       , 1396.86206897,
       1174.76744186,  549.        , 1193.75      , 1745.90196078,
       1174.76744186,  607.57142857,  213.5       ,  345.5       ,
        955.61016949, 2866.36666667,  784.375     ,  685.5       ,
        784.375     , 2354.2       ,  391.83333333, 2226.25      ,
        955.61016949,  955.61016949, 2226.25      , 1583.54166667,
        155.125     ,  821.36363636,  821.36363636,  955.61016949,
        293.9       , 1174.76744186, 1007.3       , 1171.51219512,
        685.5       , 1174.76744186, 1174.76744186,  702.23809524,
       1171.51219512,  821.36363636,  155.125     , 2226.25      ,
        310.92592593, 2226.25      ,  607.57142857,  293.9       ,
       1171.51219512,  549.        ,  323.9       , 1745.90196078,
       3153.09090909,  323.9       ,  391.83333333, 1745.90196078,
        310.92592593,  702.23809524, 4887.83333333, 1171.51219512,
        607.57142857,  327.42857143, 1895.6       , 1745.90196078,
       1541.42857143, 1171.51219512, 2354.2       , 1174.76744186,
       2866.36666667,  323.9       ,  821.36363636, 1745.90196078,
       1171.51219512, 1174.76744186, 1745.90196078,  607.57142857,
        399.8       ,  955.61016949,  702.23809524,  702.23809524,
       1171.51219512,  391.83333333, 2226.25      , 1007.3       ,
        199.5       ,  323.9       ,  310.92592593,  955.61016949,
        199.5       , 1583.54166667, 2618.5       ,  349.82857143,
       2226.25      , 1583.54166667, 1007.3       , 2226.25      ,
       1007.3       , 2226.25      ,  702.23809524,  345.5       ,
        155.125     , 1174.76744186, 1583.54166667,  955.61016949,
       3153.09090909,  702.23809524,  133.58333333, 1174.76744186,
        955.61016949, 1171.51219512, 1745.90196078,  955.61016949,
       4887.83333333,  391.83333333, 2226.25      ,  349.82857143,
        821.36363636, 2226.25      ,  349.82857143, 2226.25      ,
       2226.25      , 1007.3       , 1745.90196078,  177.        ,
       1193.75      , 1396.86206897, 2866.36666667,  955.61016949,
       1541.42857143,  345.5       , 2866.36666667,  702.23809524,
        607.57142857,  955.61016949,  784.375     , 1171.51219512,
       1174.76744186, 2226.25      ,  399.8       , 2226.25      ,
       2354.2       ,  821.36363636, 2226.25      ,  702.23809524,
       2226.25      ,  784.375     ,  610.5       , 1583.54166667,
       1541.42857143,  955.61016949,  478.        , 1745.90196078,
        213.5       ,  488.5       ,  155.125     ,  590.28571429,
        784.375     , 1745.90196078, 1174.76744186, 1174.76744186,
        349.82857143,  478.        ,  349.82857143, 1862.        ,
       1174.76744186,  607.57142857,  345.5       ,  323.9       ])

In [15]:
reg.score(X_test,y_test)

0.785217469192891

### Comparing results with Linear regression

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
lreg = LinearRegression()
lreg.fit(X_train, y_train)
lreg.score(X_test,y_test)

0.7299957628098448